<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> List, Div & Span, attributes</title>
    
</head>
<body>

<ol>
    <li>Python</li>
    <li>lambda</li>
    </ol>  <!# --Ordered List-->

    <ul>
        <li>Books</li>
        <li>Pen</li>
    </ul> <!Unordered List>

    <ol>
        <li>Python</li>
        <ul>
            <li>Object Oriented Language</li>
            <li>Simple</li>
        </ul>
    </ol>
<! Create Division >
    <div class=""> <! Using of Division with Class as Null>
        <h1> This is a sample Heading</h1>
        <p>Understanding the basic of HTML to help out  to frame flask Pages better.
        </p>
    </div>
    <p> This is plain line, <span class = ""> This line is within Span with class Null</span></p>


<! Adding Table into HTML Page>

<h2> Table in HTML Page</h2>

<table border="1">
<thead> <! Table Header start>
<th> SR No.</th>
<th> Name </th>
<th> Region </th>
</thead>
<tr>
    <td>2</td>
    <td>Rohit</td>
    <td>North</td>
</tr>

</table>

<! Adding Image below>
<! term alt refers to alternate msg to show in case of command doesn't  susccessfully run>
<img src="HTML5_1Color_Black.png" alt="No Image Found">

<! To enter Hyperlink on webpage>
<h2> Insta Link </h2>
<a href="https://www.instagram.com/">Insta Link</a>

</body>
</html>